@font-face {
    font-family: 'pixel';
    src: url('assets/fonts/SuperMario.ttf');
}

body{
    font-family: 'pixel', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

#game{
    border: 1px solid rgb(208, 24, 24);
}